/* Colors: */
$background: #fff;
$main-color-light: #EAEDF7;
$main-color: #3CD17F;
$main-color-dark: #4B42AD;
$grey-light: #00000014;
$grey: #ACACAC;
$text: black;
$grey-dark: #00000026;
$ea2f2f: #ea2f2f;
$black: #0E1414;
$main-text: #111111;
$blue-light: #4DB2FF;
$blue-dark: #3350AE;
