@import "../colors";
@import "../mixins/index";
@import "../breakpoints";

.package {
  text-align: center;
  margin: 90px 14px 0;

  p {
    line-height: 24px;
    width: 100%;
    font-size: 16px;
    margin: 0;
    color: $text;
  }

  button {
    margin: 0;
  }
  @media #{$sm} {
    padding: 0 10%;

    h2 {
      font-size: 36px;
      word-break: break-word;
      font-weight: normal;
      br {
        display: none;
      }
      padding: 0 10%;
    }
  }
}
